<div class="hdca-product-box__main">
  <div class="hdca-product-box__main-info">
    <link itemprop="url" href="#" />
    <div class="hdca-product-box__main-info-label">
      <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection </span>
      <span class="hdca-product-box__main-info-label-entry" itemprop="name">12mm Wintour Maple Classic Laminate Flooring (17.26 sq. ...</span>
    </div>
    <div class="hdca-product-box__main-info-detail">
      <div class="hdca-product-box__main-info-detail-entry">Model #
        <span itemprop="model">7L12X165/8045CL</span>
      </div>
      <div class="hdca-product-box__main-info-detail-entry">SKU #
        <span itemprop="sku">1001002632</span>
      </div>
    </div>
  </div>
  <div class="hdca-product-box__main-purchase">
    <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
      <span itemprop="priceCurrency" content="CAD"></span>
      <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
      <div class="hdca-product-box__main-purchase-price-entry">
        <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">$
          <span itemprop="price">34.00</span>
        </span>
        <span class="hdca-product-box__main-purchase-price-entry-content"> / case</span>
      </div>
    </div>
    <div class="hdca-product-box__main-purchase-action">
      <button class="hdca-button hdca-product-box__main-purchase-action-item hdca-button--secondary hdca-button--large">View Details</button>
    </div>
  </div>
</div>