<div class="product-image-box">
  <div class="compare-checkbox">
    <label class="hdca-form-field__wrap-label">
      <div class="hdca-checkbox">
        <input type="checkbox" id="default" name="default" class="hdca-checkbox__checkbox" />
        <span class="hdca-checkbox__faux-checkbox"></span>
      </div>
      <span class="hdca-form-field__label-text">Compare</span>
    </label>
  </div>
  <div class="product-image">
    <img src="../../../assets/images/products/product_1.jpg" alt="product 1 image" />
  </div>
</div>